<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>64202454703-srnhs00jp64oset33g4umapsuabql6ur.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.64202454703-srnhs00jp64oset33g4umapsuabql6ur</string>
	<key>API_KEY</key>
	<string>AIzaSyA80riHFzUhOyiAqYWtvCAeSi25BrG74YE</string>
	<key>GCM_SENDER_ID</key>
	<string>64202454703</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myApp</string>
	<key>PROJECT_ID</key>
	<string>app-ten-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>app-ten-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:64202454703:ios:97cffb2eaaba3fa6d7c65a</string>
</dict>
</plist>